<h3><%= @list.name %></h3>
<h4>Todos:</h4>
<%= render @todos %>
<p><%= link_to 'New Todo', new_list_todo_path(@list) %></p>

<%= link_to 'Edit ' + @list.name, edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
